<style>
		body
		{
			margin: 0px;
			padding: 0px;
			background: '#C0C0C0';
		}
		
		#headshot
		{
			text-shadow: 5px 5px 5px #FF0000;
		}
		
		#myCanvas
		{
		/*TODO: tirar tamanho daqui
			//width: 490px;
			//height: 580px; */
			position: relative;
			background-color: 'red';
			animation:mymove 30s infinite;
			-webkit-animation:mymove 30s infinite;
		}
		
		@-webkit-keyframes mymove
		{
			0% { left:0px; }

			50%{ left: 600px; }

			100%{ left: 0px; }
		}

 </style>