<style>
	@font-face
	{
    	font-family: complete_in_himregular;
    	src: url('../fonts/CompleteinHim/completeinhim-webfont.eot');
    	src: url('../fonts/CompleteinHim/completeinhim-webfont.svg#complete_in_himregular') format('svg'), 
    	 	url('../fonts/CompleteinHim/completeinhim-webfont.eot?#iefix') format('embedded-opentype'),
         	url('../fonts/CompleteinHim/completeinhim-webfont.woff') format('woff'),
         	url('../fonts/CompleteinHim/completeinhim-webfont.ttf') format('truetype');
    	font-weight: normal;
    	font-style: normal;
	}

	@media screen and (-webkit-min-device-pixel-ratio:0) {
		@font-face {
			font-family: complete_in_himregular;
			src: url('../fonts/CompleteinHim/completeinhim-webfont.svg') format('svg');
		}
	}

	body
	{
		background-color:#272822;
		padding: 0px;
		font-family: complete_in_himregular;
		font-size: 20px;
	} 

	h1
	{
		font-size: 110px;
		margin:  0px;
	}

	h2
	{
		font-size: 65px;
		margin:  0px 0px 50px 0px;
	}

	.functionCall { color: #D0F7A6; }

	.comment { color: #75715E; }

	.hash { color: #A6E22E; }

	.link
	{
		font-size: 40px;
		text-decoration: none;
	}

	.tile
	{
		border: 2px solid;
		border-color: #232217;
		border-radius: 25px;
		width: 180px;
		height: 25px;
	}

	/*color*/
	.red { background-color: #E81B16; }

	.orange { background-color:#E67A1B; }

	.yellow { background-color: #F2D43F; }

	.green { background-color: #61C155; }

	/* azul #048091
	   rosa #D1026C
	   roxo #492D61
	 */

	/*position*/
	.two { margin-left:210px; }

	.three { margin-left: 420px; }

	.four { margin-left: 630px; }

	.bot 
	{ 	
		position: absolute;	
		bottom: 0;
	}

</style>